

.fastest-time {
    color: #673ab7; //purple 500
}

.personal-best {
    color: #1b5e20; //green 900
}

.slower-time {
    color: #f9a825; //yellow 800
}

.flag-icon {
    max-width: 32px;
}

.entry-icon {
    max-width: 86px;
    max-height: 20px;
}

.sector-cell-container {
    display: flex;

    span {
        width: calc(100% / var(--num-sectors));
        height: 10px;
        display: block;
        float: left;
        border: solid 1px black;
    }
}

.fastest-time-cell {
    background-color: #673ab7; //purple 500
}

.personal-best-cell {
    background-color: #1b5e20; //green 900
}

.slower-time-cell {
    background-color: #f9a825; //yellow 800
}

.color-cell-container {
    display: flex;
    flex-direction: column;
    width: 5px;

    span {
        width: 100%;
        height: calc(25px/ var(--num-colors));
        display: block;
        //border: solid 1px black;
        background-color: var(--cell-color);
    }
}